.button{
  width: 165px;
  font-size: 1.15em;
  margin: 10px;
  background-color: white;
  padding: 10px;
  border: 2px solid ;
  border-radius: 6px;
  display: inline-block;
  text-decoration: none;
  text-align: center;
  color: #ee9e09;
  border-color: #ee9e09;
}

.button:hover{
  color: #fff;
  transition: all 0.4s ease 0s;
  background-color: #ee9e09;
  border-color: #ee9e09;
}

/* visuell Vorausgewählte */
.button.auswahl{
  background: #ee9e09;
  border: 2px solid #ee9e09;
  color: white;
}

.auswahl:hover{
  color: #fff;
  transition: all 0.4s ease 0s;
  background-color: #ee9e09;
  border-color: #ee9e09;
}

.spielenButton {
  width: 200px;
  font-size: 1.5em;
  margin: 10px;
  background-color: #559ef1;
  padding: 10px;
  border: 2px solid ;
  border-radius: 6px;
  display: inline-block;
  text-decoration: none;
  text-align: center;
  color: white;
  border-color: #559ef1;
}

.spielenButton:hover{
  transform: scale(1.1);
}

.grid {
  margin-left: 10px;
  width: 80%;
  display: grid;
  grid-template-columns: 50px auto;
  grid-template-rows: 1fr 1fr;
}

.inOutSpan {
  font-size: 1.3em;
  margin-top: 20px;
  text-align: left;
}

::placeholder {
  color: #ee9e09;
}
