#logo {
  width: 100px;
  border-radius: 50%;
}
.center {
display:table;
margin: auto;
z-index: 1;
position: relative;
}

.intro-container {
  border-style: double;
  height: 100px;
  position: relative;
  margin-top: -30px;
}

.intropic {
  height: 100%;
  width: 100%;
}

.right {
  position: absolute;
  top: 5px;
  right: 15px;

}

.left {
  position: absolute;
  left: 37px;
  top: 37px;
}
.rotate {
  transform: rotate(-7deg);
}
.marginrate{
  margin-top: 2px;
  margin-right: 40px;
}

td {
  padding-bottom:5px;
}

.loginfont {
  font-size: 20px;
  font-weight: bold;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-style: italic;
}

.fontfuersowas {
  font-size: 35px;
  font-weight: bold;
  font-family: Consolas,monaco,monospace;
}

button:hover{
  transform: scale(1.05);
}

.spielenDiv{
  position: relative;
  margin-top: 20px;
  margin-left: 10%;
  margin-right: 10%;
}

.spielenButtonsDiv, .spielenTextDiv{
  float: left;
}

.spielenButtonsDiv{
  width: 250px;
}

.spielenButton{
  margin: 10px;
  border-radius: 5px;
  border: solid;
  width: 150px;
  height: 50px;
}

.spielenTextDiv{
  width: 800px;
}

h2{
  margin-top: 10px;
}

.spielenButton2 {
  width: 165px;
  font-size: 1.15em;
  margin: 10px;
  background: white;
  padding: 10px;
  border: 2px solid ;
  border-radius: 6px;
  display: inline-block;
  text-decoration: none;
  text-align: center
  }
  
  .spielenButton2.green{
    color: #20bf6b !important;
    border-color: #20bf6b !important;
  }

  .spielenButton2.grey{
    color: #676968 !important;
    border-color: #676968 !important;
  }

  .spielenButton2:hover{
    color: #ffffff !important;
    transition: all 0.4s ease 0s;
  }

  .spielenButton2.grey:hover{
    background: #676968;
    border-color: #676968 !important;
  }

  .spielenButton2.green:hover {
  background: rgb(52, 170, 22);
  border-color: rgb(52, 170, 22) !important;
  }