.ueberschrift {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.bild {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.subUeberschrift  {
  margin-top: -20px;
  margin-left: 310px;
}

.text {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 70%;
  text-align: center;
}
