/* +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ELEMENT-"KLASSEN"+++++++++++++++++++++++++++++++++++++++++++++++++++++*/
h2{
  margin-top: 10px;
}


td {
  padding-bottom:5px;
}

body {
  background-color: #464545;
  color: white;
}

hr {
  position: relative;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 5%;
  margin-right: 5%;
}


/* ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++UPPERPART-KLASSEN++++++++++++++++++++++++++++++++++++++++++++++++++++*/
#logo {
  width: 100px;
  border-radius: 50%;
}
.center {
display:table;
margin: auto;
z-index: 1;
position: relative;
}

.intro-container {
  border-style: double;
  height: 100px;
  position: relative;
  margin-top: -30px;
  color: black;
}

.intropic {
  height: 100%;
  width: 100%;
}

.right {
  position: absolute;
  top: 5px;
  right: 15px;
}

.left {
  position: absolute;
  left: 37px;
  top: 37px;
}
.rotate {
  transform: rotate(-7deg);
}
.marginrate{
  margin-top: 2px;
  margin-right: 40px;
}


.loginfont {
  font-size: 20px;
  font-weight: bold;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.fontfuersowas {
  font-size: 35px;
  font-weight: bold;
  font-family: Consolas,monaco,monospace;
}

.inputBreite{
  width: 200px;
}

.accountButton{
  border-radius: 6px;
  border: 1px solid;
  height: 25px;
}

.accountButton.orange{
  background-color: #c98914;
  width: 110px;

}
.accountButton.grey{
  background-color: #a9aaa9;
}

.accountButton:hover{
  transform: scale(1.05);
}

/* +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ SPIELENABTEIL-KLASSEN ++++++++++++++++++++++++++++++++++++++ */
.spielenDiv{
  margin-top: 20px;
  margin-left: 10%;
  margin-right: 10%;
}



.spielenButtonsDiv{
  width: 250px;
}

.spielenTextDiv{
  width: 800px;
}

.spielenButton{
  width: 165px;
  font-size: 1.15em;
  margin: 10px;
  background: white;
  padding: 10px;
  border: 2px solid ;
  border-radius: 6px;
  display: inline-block;
  text-decoration: none;
  text-align: center
  }

  .spielenButton.orange{
    color: #c98914;
    border-color: #c98914;
  }

  .spielenButton.grey{
    color: black;
    border-color: black;
  }

  .spielenButton:hover{
    color: #ffffff;
    transition: all 0.4s ease 0s;
  }

  .spielenButton.grey:hover{
    background: black;
    border-color: black;
  }

  .spielenButton.orange:hover {
    background: #c98914;
    border-color: #c98914;
    }

  /*+++++++++++++++++++++++++++++++++++++++++++++++++++++++NEWSABTEILUNG-KLASSEN++++++++++++++++++++++++++++++++++++++++*/
  .newscontainer {
    position: relative;
    margin-top: 30px;
    margin-left: 10%;
    margin-right: 10%;
  }

  .news-slideshow {
    margin-left: 10%;
    margin-right: 10%;
  }

  .news-pics {
    background-color: white;
    height: 500px;
    width:
  }

  .pfeil-links {
    height: 500px;
    background-color: black;
  }

  .pfeil-rechts {
    height: 500px;
    background-color: black;
  }
