body {
  color: white;
  }

h2 {
  text-align: center;
}

.ueberschrift {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.bild {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.bild2 {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 45%;
}

.subUeberschrift  {
  margin-top: -20px;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.subUeberschrift2  {
  margin-top: -20px;
  margin-left: auto;
  margin-right: auto;
  width: 45%;
}


.text {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 70%;
  text-align: center;
}
