.wrapper {
    margin-left: 50px;
    margin-right: 50px;
}

hr {
    margin: 0px;
}

.spielerkachel {
    border: 2px solid rgb(206, 91, 37);
    border-radius: 8px;
    width: 20%;
    display: inline-block;
    margin: 20px;
    background-color: rgb(206, 91, 37);
}

.spielerkachel.ausgewaehlt {
    border-color: #ee9e09;
    background-color: #ee9e09;
    box-shadow: 0 0 10px #ee9e09;
    color: black;
}

.divWrapper {
    text-align: center;
}

.wurfAnzeige {
    padding: 20px;
    text-align: center;
}

.wurf {
    display: inline-block;
    width: 30px;
    margin: 20px;
    border-style: hidden;
    border-radius: 50%;
    font-size: 1.5rem;
    padding: 5px;
}

.wurf.ausgewaehlt {
    background-color: rgb(236, 188, 54);
    box-shadow: 0 0 8px rgb(243, 208, 112);
    color: black;
}

#punkteButtonsDiv {
    display: inline-block;
    width: 60%;
    text-align: center;
}

.punktButton {
    display: inline-block;
    width: 15%;
    background-color: rgb(99, 170, 236);
    margin: 10px 5px 0 0;
    border-color: rgb(99, 170, 236);
    font-size: 1.3rem;
    height: 50px;
    box-shadow: none;
}

.punktButton.untereReihe {
    width: 25.5%;
    background-color: rgb(41, 103, 160);
    border-color: rgb(41, 103, 160);
    color: white;
}

.punktButton:hover {
    box-shadow: 0 0 4px white;
}

button {
    color: black;
    text-align: center;
    padding: 5px;
}

.vl {
    margin-top: 20px; 
    width: 6px;
    background-color: #ee9e09;
    height: 260px;
    display: inline-block;
    
}

#multiplierButtonsDiv {
    margin-left: 10px;
    display: inline-block;
    width: 20%;
    position: relative;
    bottom: 60px;
}

.multiplierButton {
    
    background-color: rgb(170, 169, 169);
    border-color: rgb(170, 169, 169);
    width: 60%;
    font-size: 1.3rem;
    height: 50px;
    margin: 10px;
}

.multiplierButton.ausgewaehlt {
    box-shadow: 0 0 8px rgb(117, 188, 230);
    background-color: rgb(209, 208, 208);
    border-color: rgb(209, 208, 208);
}

.multiplierButton:hover {
    box-shadow: 0 0 10px rgb(117, 188, 230);
    background-color: rgb(209, 208, 208);
    border-color: rgb(209, 208, 208);
}

#spielAbschluss {
    position: absolute;
    top: 70%;
    left: 30%;
    width: 500px;
    display: none;
    background-color: white;
}