/* +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ELEMENT-"KLASSEN"+++++++++++++++++++++++++++++++++++++++++++++++++++++*/

td {
  padding-bottom:5px;
}

body {
  padding-top: 15px;
  background-color: #464545 !important;
  font-family: 'Open Sans', sans-serif;
}




hr {
  display: block;
  position: relative;
  margin-right: 10%;
  margin-left: 10%;
  margin-top: 20px;
  min-width: 446px;
  background-color: white;

}


/* ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++UPPERPART-KLASSEN++++++++++++++++++++++++++++++++++++++++++++++++++++*/
.gridcontainer {
  display: grid;
}

.upperpart {
  height: 250px;
  width: auto;
  grid-template-rows: 1.3fr 1fr 1.2fr;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-areas: ". logo . "
                       "intro intro intro"
                       "intro intro intro";

  margin-bottom: 0px;
  min-width: 744px;
}

.grid1 {
  grid-area: intro;
  position: relative;
  background-color: #dff0ea;
  box-shadow: 0px 5px 10px black;
}

.grid2 {
  grid-area: 1 / 2 / 3 / 3;
  z-index: 1;
  cursor: none;
}

.breitgezogen {
  width: 100%;
  height: 100%;
}

.logo {
  display: block;
  margin: auto;
  width: 200px;
}

.logo:hover {
  transform: scale(1.05);
}

.right {
  right: 25px;
  top: 20%;
  position: absolute;
  z-index: 2;
}

.loginfont {
  font-size: 20px;
  font-weight: bold;
  font-family: Georgia, 'Times New Roman', Times, serif;
  color: black;
}

.accountButton{
  border-radius: 6px;
  border: 1px solid;
  height: 25px;
}

.accountButton.orange{
  background-color: #ee9e09;
  border-color: #ee9e09;
  width: 110px;
}
.accountButton.grey{
  background-color: #a9aaa9;
  border-color: #a9aaa9;
}

.accountButton:hover{
  transform: scale(1.05);
}

.fixedwidth {
  width: 200px;
}

input::placeholder {
  color: black;
}

.adtext {
  color: black;
  font-size: 35px;
  font-weight: bold;
  font-family: Consolas,monaco,monospace;
  position: absolute;
  transform: rotate(-7deg);
  left: 37px;
  top: 50px;
}

@media (max-width:971px) {
  .adtext {
    display: none;
  }
}

@media (max-width:900px) {
  .grid2 {
    grid-area: 2 / 1 / 4 / 2;
  }

  .logo {
    width: 175px;
  }

@media (max-width: 590px) {
  .fixedwidth {
    width: 170px;
  }
}

  .logo {
    display: inline;
    margin-top: 7px;
    margin-left: 5.5px;
    height: 90%;
  }
}

/*+++++++++++++++++++++++++++++++++++++++++++++++++++++FOOTER-KLASSEN+++++++++++++++++++++++++++++++++++++++++++++++*/
.footer {
  margin-top: 70px;
  height: 150px;
  background-color: white;
  box-shadow: 0px -5px 15px black;
  padding-top: 10px;
  min-width:744px;
  color:black;
}

.copyrightdiv {
  margin-top: 10px;
}

.backtotopdiv {
  height: 55px;
  border-top: solid;
  margin-top: 10px;
  cursor: pointer;
  transition-duration: 0.4s;
}

.backtotopdiv:hover{
  box-shadow: 0 -7px 12px 0 rgba(0,0,0,0.24);
}

.backtotop {
  margin-top:4px;
  font: bold;
  font-size: 1.5em;

}

.centerblock {
  display: block;
  text-align: center;
}

.footer a:hover {
  color:black;
  opacity: 0.6;
  text-decoration: none;
}

.footer a {
  color: black;
  text-decoration: none;
}
