.main {
  margin-left: auto;
  margin-right: auto;
  width: 90%;
  margin-top: 100px ;
}

/*++++++++++++++++++++++++++++++++++++++++++User-Bereich mit Einstellungen+++++++++++++++++++++++++++++++++++++++++++++++++++++*/
.user {
  background: #9999;
  border-radius: 10px;
  padding: 20px 0 20px 0;
}

.userGrid {
  display: grid;
  grid-template-columns: 20% 20% auto auto;
  grid-template-rows: repeat(5, auto);
  grid-gap: 10px;
}

.userpic {
  grid-row: 1 / span 4;
  align-self: center;
  justify-self: center;
}

.username {
  grid-row: 1 / span 4;
  align-self: center;
  color: white;
  font-size: 30px;
}

.userschrift {
  font-size: 20px;
  color: white;
  font-weight: bold;
}

.editPic {
  margin-left: 10px;
  height: 20px;
  width: 20px;
}

.editPic:active {
  height: 15px;
  width: 15px;
}

.einstellungName {
  color: black;
  font-weight: bold;
}

.orangeText {
  color: #ee9e09;
}

.einstellungenInput {
  height: 25px;
  width: 250px;
  font-size: 15px;
}

.aenderungenButton {
  border-radius: 6px;
  border: 1px solid;
  height:30px;
  width: 250px;
  background-color: #ee9e09;
  border-color: #ee9e09;
  margin-right: 20px;
}

.aenderungenButton:hover{
  transform: scale(1.05);
}

.aenderungenButtonDiv {
  grid-column: 3 / span 2;
}
/*++++++++++++++++++++++++++++++++++++++++++++++++++++Statistiken+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
.statistikenHeading {
  margin-top: 50px;
  color: white;
  text-align: center;
}

.statistikenDiv {
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  background: #9999;
  border-radius: 10px;
  display: grid;
  grid-template-columns: 30% 70%;
  grid-template-rows: 500px;
  margin-bottom: 100px;
}

.menuepunkttabelle {
  background: darkgrey;
  background-color: none;
  width: 70%;
  /*height: 100%;*/
  border-radius: 10px 0 0 10px;
}

.buttons {
  width: 100%;
  height: 50px;
  font-size: 1.15em;
  /*margin: 10px;*/
  margin-right: 3px;
  background-color: none;
  padding: 10px;
  border: none;
  border-bottom: 1px solid black;
  display: inline-block;
  text-decoration: none;
  text-align: center;
  color: #ee9e09;
  border-color: none;
  cursor: pointer;
}

.buttons.ausgewaehlt {
  background: #ee9e09;
  /*border: 2px solid #ee9e09*/;
  color: white;
}

.buttons:hover {
  color: #fff;
  transition: all 0.4s ease 0s;
  background-color: #ee9e09;
  border-color: none;
}

.button1 {
  height: 50px;
  width: 100px;
  background: white;
  border: 1px solid black;
  border-radius: 5px;
  box-shadow: 3px 3px 10px black;
}

.untermenue {
    grid-template-columns: 80% 20%;
    grid-template-rows: repeat(3, 1fr);
}

.untermenue.ausgewaehlt {
  display: grid;
}

.bearbeiten {
    align-self: center;
    text-align: center;
    height: 30px;
    width: 70px;
}

.einstellungentext {
  font-size: 15px;
  color: white;
  text-align: center;
  /*padding-top: 35px;*/
}

.bottuns {
  border-radius: 5px;
  background-color: #559ef1;
  border: 1px solid #559ef1;
  color: black;
  width: 100px;
  height: 30px;

}

.bottuns:hover {
  transform: scale(1.1);
}

/* ------------------------------------------------------------- Sonstiges ------------------------------------------------------------------- */

.nichtEingeloggtSpan {
  margin-top: 50px;
  display: block;
  text-align: center;
  font-size: 1.5em;
  color: white;
}
